**标题**

> {{.Name}}

**接口URL**

> {{.FullUrlPath}}

**请求地址**

| 环境   | URL                                  |
|------|--------------------------------------|
| 测试环境 | https://h5test.etopiacity.com{{.UrlPath}} |
| 正式环境 | https://newapp.etopiacity.com{{.UrlPath}} |

Req schema

```json
{{.RequestSchema}}
```

Resp schema

```json
{{.ResponseSchema}}
```